
@{
    ViewBag.Title = "Solicitud";
}

<section class="engine"><a href="https://mobirise.me/u">bootstrap html templates</a></section>
<section class="mbr-section form3 cid-qTGVbz8DTM" id="form3-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2">
                    Ingresa El CUI
                </h2>
                <h3 class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5">
                    Para obtener los datos personales
                </h3>
            </div>
        </div>

        <div class="row py-2 justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid">
                <div data-form-alert="" hidden="">Thanks for filling out the form!</div>
                <form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form">
                    <input type="hidden" name="email" data-form-email="true" value="5YG5TRFS/OOq3tlCDyPyvRCPNLEknGyLmR/fqW+hOygXssPDng/5Sg4A36kz8Kq4wqs8PckkmbOZRozLrkiSklTLbbyD7hCgDi/3flNeUtEOZnSVawP3/eEr81EY6ZNA" data-form-field="Email">
                    <div class="mbr-subscribe input-group">
                        <input class="form-control" type="email" name="email" placeholder="CUI" data-form-field="Email" required="" id="email-form3-4">
                        <span class="input-group-btn"><button href="" type="submit" class="btn  btn-success-outline display-4">ENVIAR</button></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>